body {
  background-color: rgb(18, 20, 21);
}
.board {
  margin: 0 auto;
  text-align: center;
}

.board-row {
  white-space: nowrap;
  height: 48px;
}

.space {
  text-align: left;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url('./assets/space.png');
  background-repeat: no-repeat;
}

.wall {
  z-index: 1;
  width: 48px;
  height: 48px;
  position: absolute;
  display: inline-block;
  background-image: url('./assets/wall.png');
  background-repeat: no-repeat;
}

.wall-west {
  @extend .wall;
}

.wall-north {
  @extend .wall;
  transform: rotate(90deg);
}

.wall-east {
  @extend .wall;
  transform: rotate(180deg);
}

.wall-south {
  @extend .wall;
  transform: rotate(-90deg);
}

.wall-solid {
  z-index: 1;
  width: 48px;
  height: 48px;
  background-color: rgb(50, 50, 50);
}

.corner {
  z-index: 1;
  width: 48px;
  height: 48px;
  position: absolute;
  display: inline-block;
  background-image: url('./assets/corner.png');
  background-repeat: no-repeat;
}

.corner-north-west {
  @extend .corner;
}

.corner-north-east {
  @extend .corner;
  transform: rotate(90deg);
}

.corner-south-east {
  @extend .corner;
  transform: rotate(180deg);
}

.corner-south-west {
  @extend .corner;
  transform: rotate(-90deg);
}

.shape {
  width: 48px;
  height: 48px;
  left: 5px;
  top: 5px;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 38px 38px;
  filter: brightness(0.3) sepia(1) saturate(2500%);
}

.shape-star {
  @extend .shape;
  background-image: url('./assets/star.png');
}

.shape-moon {
  @extend .shape;
  background-image: url('./assets/moon.png');
}

.shape-saturn {
  @extend .shape;
  background-image: url('./assets/saturn.png');
}

.shape-gear {
  @extend .shape;
  background-image: url('./assets/gear.png');
}

.shape-portal {
  @extend .shape;
  background-image: url('./assets/portal.png');
  filter: none;
}

.shape-slash {
  @extend .shape;
  background-image: url('./assets/bouncer.png');
  transform: scaleX(-1);
  left: -5px;
}

.shape-backslash {
  @extend .shape;
  background-image: url('./assets/bouncer.png');

}

.color-blue {
  filter: brightness(0.3) sepia(1) saturate(2500%) hue-rotate(240deg);
}

.color-red {
  filter: brightness(0.3) sepia(1) saturate(2500%);
}

.color-green {
  filter: brightness(0.3) sepia(1) saturate(2500%) hue-rotate(120deg);
}

.color-yellow {
  filter: brightness(0.8) sepia(1) saturate(2500%) hue-rotate(45deg);
}

.color-any {

}